.gradient-image {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.2)),
    var(--img);
  max-width: 100vw;
  height: auto;
  background-size: cover;
  background-blend-mode: hard-light;
  color: white;
  padding: 20px;
}