.landing-apps-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2E3032;
}

.landing-apps-container-width {
  width: 25%;
  padding: 0 0 0 0;
}

.landing-apps-content-margin {
  margin: 0 10rem 5rem 10rem !important;
}

#landing section {
  scroll-margin-top: 64px;
}

#landing section#home {
  height: 100vh;
}

#landing section#about {
  height: 100vh;
}

@media (min-width: 991px) {
  .carousel-container {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

@media (max-width: 800px) {
  .landing-apps-container-width {
    width: 100%;
    padding: 0 20vw 0 20vw;
  }

  .landing-apps-content-margin {
    margin: 0 0 5vh 0 !important;
  }

  #landing section {
    scroll-margin-top: 55px;
  }
}