.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container .form-login {
  width: 40vw !important;
}

@media (max-width: 991px) {
  .login-container .form-login {
    width: 80vw !important;
  }
}